.aboutUs {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 9rem;
    line-height: 1;
    letter-spacing: -0.2vw;
}

    .aboutUs > .mbr-iconfont {
        font-size: 6.625rem;
    }

.aboutUs-text {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 1.36rem;
    line-height: 1.4;
}

    .aboutUs-text > .mbr-iconfont {
        font-size: 1.7rem;
    }

.mbr-section-btn .btn:not(.btn-form) {
    border-radius: 100px;
}

section.lazy-placeholder:after {
    opacity: 0.5;
}


body {
    overflow-x: hidden;
}

a {
    transition: color 0.6s;
}

.mbr-section-btn .btn,
.mbr-section-btn-main .btn {
    padding: 14px 36px;
    border-radius: 5rem !important;
    font-weight: 400;
}

@media (max-width: 992px) {
    .mbr-section-btn .btn,
    .mbr-section-btn-main .btn {
        padding: 14px 24px;
    }
}

.mbr-section-btn .btn-primary-outline,
.mbr-section-btn-main .btn-primary-outline,
.mbr-section-btn .btn-secondary-outline,
.mbr-section-btn-main .btn-secondary-outline,
.mbr-section-btn .btn-success-outline,
.mbr-section-btn-main .btn-success-outline,
.mbr-section-btn .btn-info-outline,
.mbr-section-btn-main .btn-info-outline,
.mbr-section-btn .btn-warning-outline,
.mbr-section-btn-main .btn-warning-outline,
.mbr-section-btn .btn-danger-outline,
.mbr-section-btn-main .btn-danger-outline,
.mbr-section-btn .btn-black-outline,
.mbr-section-btn-main .btn-black-outline,
.mbr-section-btn .btn-white-outline,
.mbr-section-btn-main .btn-white-outline {
    position: relative;
    border: none !important;
}

    .mbr-section-btn .btn-primary-outline:before,
    .mbr-section-btn-main .btn-primary-outline:before,
    .mbr-section-btn .btn-secondary-outline:before,
    .mbr-section-btn-main .btn-secondary-outline:before,
    .mbr-section-btn .btn-success-outline:before,
    .mbr-section-btn-main .btn-success-outline:before,
    .mbr-section-btn .btn-info-outline:before,
    .mbr-section-btn-main .btn-info-outline:before,
    .mbr-section-btn .btn-warning-outline:before,
    .mbr-section-btn-main .btn-warning-outline:before,
    .mbr-section-btn .btn-danger-outline:before,
    .mbr-section-btn-main .btn-danger-outline:before,
    .mbr-section-btn .btn-black-outline:before,
    .mbr-section-btn-main .btn-black-outline:before,
    .mbr-section-btn .btn-white-outline:before,
    .mbr-section-btn-main .btn-white-outline:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 5rem;
        opacity: .2;
    }

    .mbr-section-btn .btn-primary-outline::before,
    .mbr-section-btn-main .btn-primary-outline::before {
        border: 1px solid #1e1d1c;
    }

    .mbr-section-btn .btn-secondary-outline::before,
    .mbr-section-btn-main .btn-secondary-outline::before {
        border: 1px solid #f2ede4;
    }

    .mbr-section-btn .btn-success-outline::before,
    .mbr-section-btn-main .btn-success-outline::before {
        border: 1px solid #c9d4d7;
    }

    .mbr-section-btn .btn-info-outline::before,
    .mbr-section-btn-main .btn-info-outline::before {
        border: 1px solid #ffffff;
    }

    .mbr-section-btn .btn-info-outline:hover,
    .mbr-section-btn-main .btn-info-outline:hover,
    .mbr-section-btn .btn-info-outline:focus,
    .mbr-section-btn-main .btn-info-outline:focus {
        box-shadow: inset 0 -70px #ffffff !important;
        color: #1e1d1c !important;
    }

    .mbr-section-btn .btn-warning-outline::before,
    .mbr-section-btn-main .btn-warning-outline::before {
        border: 1px solid #d1dcd1;
    }
    .mbr-section-btn .btn-danger-outline::before,
    .mbr-section-btn-main .btn-danger-outline::before {
        border: 1px solid #de9ea7;
    }

    .mbr-section-btn .btn-black-outline::before,
    .mbr-section-btn-main .btn-black-outline::before {
        border: 1px solid #000000;
    }


    .mbr-section-btn .btn-white-outline::before,
    .mbr-section-btn-main .btn-white-outline::before {
        border: 1px solid #ffffff;
    }


img {
    border-radius: 0 !important;
}

.cid-u5M4nagYK0 {
    padding-bottom: 5rem;
    background-color: #ffffff;
}

    .cid-u5M4nagYK0 .mbr-fallback-image.disabled {
        display: none;
    }

    .cid-u5M4nagYK0 .mbr-fallback-image {
        display: block;
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
    }

    .cid-u5M4nagYK0 .container-fluid {
        padding: 0 40px;
    }

@media (max-width: 992px) {
    .cid-u5M4nagYK0 .container-fluid {
        padding: 0 20px;
    }
}

@media (max-width: 992px) {
    .cid-u5M4nagYK0 .container {
        padding: 0 20px;
    }
}

.cid-u5M4nagYK0 .desc-wrapper {
    padding-left: 100px;
}

@media (max-width: 1200px) {
    .cid-u5M4nagYK0 .desc-wrapper {
        padding-left: 50px;
    }
}

@media (max-width: 992px) {
    .cid-u5M4nagYK0 .desc-wrapper {
        padding-left: 0;
    }
}

.cid-u5M4nagYK0 .desc-wrapper .mbr-desc {
    margin-bottom: 12px;
}

@media (max-width: 992px) {
    .cid-u5M4nagYK0 .desc-wrapper .mbr-desc {
        margin-bottom: 20px;
    }
}

.cid-u5M4nagYK0 .content-wrapper {
    position: relative;
    z-index: 2;
}

@media (max-width: 1200px) {
    .cid-u5M4nagYK0 .content-wrapper {
        padding-left: 50px;
    }
}

@media (max-width: 992px) {
    .cid-u5M4nagYK0 .content-wrapper {
        padding-left: 0;
        margin-bottom: 40px;
    }
}

.cid-u5M4nagYK0 .content-wrapper .mbr-section-title {
    margin-bottom: 0;
    width: 140%;
    padding-left: 100px;
}

@media (max-width: 992px) {
    .cid-u5M4nagYK0 .content-wrapper .mbr-section-title {
        width: 100%;
    }
}

.cid-u5M4nagYK0 .content-wrapper .text-wrapper {
    margin: 280px 280px 0 116px;
}

@media (max-width: 1700px) {
    .cid-u5M4nagYK0 .content-wrapper .text-wrapper {
        margin: 50px 116px 0 116px;
    }
}

@media (max-width: 1440px) {
    .cid-u5M4nagYK0 .content-wrapper .text-wrapper {
        margin: 110px 0 0;
    }
}

@media (max-width: 992px) {
    .cid-u5M4nagYK0 .content-wrapper .text-wrapper {
        margin: 40px 0 0;
    }
}

.cid-u5M4nagYK0 .content-wrapper .text-wrapper .mbr-text {
    font-family: "Source Serif 4", sans-serif !important;
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

    .cid-u5M4nagYK0 .content-wrapper .text-wrapper .mbr-text::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 60%;
        background-color: #1e1d1c;
        opacity: .2;
    }

.cid-u5M4nagYK0 .box {
    padding-top: 7%;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    border-radius: 0 !important;
}

@media (max-width: 992px) {
    .cid-u5M4nagYK0 .box {
        padding-top: 0;
    }
}

.cid-u5M4nagYK0 .box .mbr-media {
    position: relative;
    overflow: hidden;
    height: 1200px;
}

@media (max-width: 992px) {
    .cid-u5M4nagYK0 .box .mbr-media {
        height: 400px;
    }
}

.cid-u5M4nagYK0 .box .mbr-media img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    border-radius: 0 !important;
}

.cid-u5M4nagYK0 .box .mbr-media .mbr-iconfont {
    font-size: 12px;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
    margin-left: 5px;
    z-index: 1;
}

.cid-u5M4nagYK0 .mbr-media {
    position: relative;
}

    .cid-u5M4nagYK0 .mbr-media img {
        object-fit: cover;
        border-radius: 0 !important;
    }

.cid-u5M4nagYK0 a:hover {
    background-image: none !important;
}

.cid-u5M4nagYK0 .icon-wrap {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    height: 56px;
    width: 56px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    cursor: pointer;
    border: 1px solid #ffffff;
}

    .cid-u5M4nagYK0 .icon-wrap:hover,
    .cid-u5M4nagYK0 .icon-wrap:focus {
        transform: scale(0.9) translate(-50%, -50%);
    }

.cid-u5M4nagYK0 .mbr-media span {
    font-size: 5rem;
    transition: all 0.2s;
}

.cid-u5M4nagYK0 .modalWindow {
    position: fixed;
    z-index: 5000;
    left: 0;
    top: 0;
    background-color: rgba(61, 61, 61, 0.65);
    width: 100%;
    height: 100%;
}

    .cid-u5M4nagYK0 .modalWindow .modalWindow-container {
        display: table-cell;
        vertical-align: middle;
    }

    .cid-u5M4nagYK0 .modalWindow .modalWindow-video {
        height: calc(44.9943757vw);
        width: 80vw;
        margin: 0 auto;
    }

.cid-u5M4nagYK0 .close {
    position: fixed;
    opacity: 0.5;
    font-size: 1.5rem;
    font-weight: 300;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #fff;
    top: 2.5rem;
    right: 2.5rem;
    border: 2px solid #fff;
    text-shadow: none;
    z-index: 5;
    transition: opacity 0.3s ease;
    align-items: center;
    justify-content: center;
    display: flex;
}

    .cid-u5M4nagYK0 .close:hover {
        opacity: 1;
        background: #000;
        color: #fff;
    }

.cid-u5M4nagYK0 .mbr-section-title {
    color: #1e1d1c;
}

.cid-u5M4nagYK0 .mbr-desc {
    color: #1e1d1c;
}

.cid-u5M4nagYK0 .mbr-text {
    color: #1e1d1c;
}
