.container {
    max-width: 1200px;
    padding: 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.product-image {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

    .product-image:hover {
        transform: scale(1.02);
    }

h1 {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #333;
}

h4 {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: 500;
    color: #ad9986;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
}

.addButton {
    background-color: #ad9986;
    color: white;
    padding: 6px 12px; /* Reducimos el padding */
    border: none;
    font-weight: bold;
    font-size: 14px; /* Reducimos el tamaño de fuente */
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    border-radius: 5px;
    width: 35%; /* Ajusta el ancho al contenido */
    min-width: 140px; /* Establece un ancho mínimo */
    height: 2.8rem; /* Ajusta la altura */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px; /* Espaciado entre el icono y el texto */
}

.buttonsCantidad {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 2rem;
}

.description {
    color: #a0a0a0;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: .9rem;
    line-height: 1.6;
    margin-bottom: 2rem;
    max-width: 90%;
}

.product-button {
    background-color: #ad9986;
    color: white;
    padding: 10px 15px;
    border: none;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    text-decoration: none;
    display: flex;
    border-radius: 5rem;
    gap: 10px;
    align-items: center;
    height: 4rem;
    padding: 0 20px;
}

    .product-button:hover {
        background-color: #9a8775;
        text-decoration: none;
        color: white;
    }

    .product-button i {
        margin-right: 5px;
    }

.product-features {
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px solid #eee;
}

.feature-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.feature-icon {
    width: 40px;
    height: 40px;
    background-color: #f3efe9 !important;
    color: #ad9986 !important;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.feature-text {
    color: #666;
    font-size: 0.9rem;
}

@media (max-width: 768px) {
    .container {
        padding: 1rem;
        margin: 1rem;
    }

    h1 {
        font-size: 2rem !important;
        margin-top: 1.5rem;
    }

    .addQuantity {
        width: 100%;
        margin-bottom: 1rem;
    }

    .product-button {
        width: 100%;
        justify-content: center;
    }
}

.product-price {
    display: flex;
    align-items: center;
    gap: 10px;
}

h4 {
    font-weight: 500;
    color: #ad9986;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}