body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.fullscreen-background {
    background-image: url("/images/fondo1.jpg"); /* Ruta de tu imagen */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Ocupa toda la pantalla */
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Coloca la imagen detrás de todo */
}
