@using Newtonsoft.Json;
@using Bougies.Extensions;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
	List<Carrito> carrito = Context.Session.GetObject<List<Carrito>>("Carrito") ?? new List<Carrito>();
	int cantidadProductos = carrito.Sum(c => c.Cantidad);

	var user = HttpContextAccessor.HttpContext.Session.GetString("userName");
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Bougies</title>
	<script type="importmap"></script>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Bougies.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://r.mobirisesite.com/1225067/assets/web/assets/mobirise-icons2/mobirise2.css?rnd=1740137554309">
	<link rel="stylesheet" href="https://r.mobirisesite.com/1225067/assets/bootstrap/css/bootstrap.min.css?rnd=1740137554309">
	<link rel="stylesheet" href="https://r.mobirisesite.com/1225067/assets/bootstrap/css/bootstrap-grid.min.css?rnd=1740137554309">
	<link rel="stylesheet" href="https://r.mobirisesite.com/1225067/assets/bootstrap/css/bootstrap-reboot.min.css?rnd=1740137554309">
	<link rel="stylesheet" href="https://r.mobirisesite.com/1225067/assets/parallax/jarallax.css?rnd=1740137554309">
	<link rel="stylesheet" href="https://r.mobirisesite.com/1225067/assets/socicon/css/styles.css?rnd=1740137554309">
	@* <link rel="stylesheet" href="https://r.mobirisesite.com/1225067/assets/theme/css/style.css?rnd=1740137554309"> *@
	<link rel="preload" href="https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
	<noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap&display=swap"></noscript>
	<link rel="preload" href="https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
	<noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap&display=swap"></noscript>
	@* <link rel="stylesheet" href="https://r.mobirisesite.com/1225067/assets/css/mbr-additional.css?rnd=1740137554309" type="text/css"> *@
	<link rel="stylesheet" href="/css/additional.css" type="text/css">
	<link rel="stylesheet" href="/css/navbar.css" type="text/css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Petit+Formal+Script&family=Poiret+One&display=swap" rel="stylesheet">
	<style>
		.navbar-fixed-top {
			top: auto;
		}

		#mobirisePromo.container-banner {
			height: 11rem;
			opacity: 1;
			-webkit-animation: 11s linear animationHeight;
			-moz-animation: 11s linear animationHeight;
			-o-animation: 11s linear animationHeight;
			animation: 11s linear animationHeight;
			transition: all 0.5s;
		}

			#mobirisePromo.container-banner.container-banner-closing {
				pointer-events: none;
				height: 0;
				opacity: 0;
				-webkit-animation: 0.5s linear animationClosing;
				-moz-animation: 0.5s linear animationClosing;
				-o-animation: 0.5s linear animationClosing;
				animation: 0.5s linear animationClosing;
			}

		#mobirisePromo .banner {
			min-height: 11rem;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			background: #fff;
			padding: 10px;
			opacity: 1;
			-webkit-animation: 11s linear animationBanner;
			-moz-animation: 11s linear animationBanner;
			-o-animation: 11s linear animationBanner;
			animation: 11s linear animationBanner;
			z-index: 1031;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

			#mobirisePromo .banner p {
				overflow: hidden;
				display: -webkit-box;
				-webkit-line-clamp: 4;
				-webkit-box-orient: vertical;
				animation: none;
				visibility: visible;
			}

		#mobirisePromo .buy-license {
			text-decoration: underline;
		}

		#mobirisePromo .banner .btn {
			margin: 0.3rem 0.5rem;
			animation: none;
			visibility: visible;
		}

		.navbar.opened {
			z-index: 1032;
		}

		#mobirisePromo .mbr-section-abuse-report {
			margin-top: 0.8rem;
			font-size: 80%;
		}

			#mobirisePromo .mbr-section-abuse-report a {
				color: #aaa;
			}

		.nav.navbar {
			position: sticky;
			top: 0;
			z-index: 1030;
			background: white;
			box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
		}

	</style>
</head>
<body>
	<div>
		<main role="main">
			<nav class="navbar navbar-expand-sm navbar-toggleable-sm">
				<div class="navbar-header">
					<div class="navbar-one">
						<div class="buscador">
							<div class="input-wrapper">
								<input type="text" id="searchInput" class="input" placeholder="Buscar producto..." onkeyup="buscarProducto()" autocomplete="off" />
								<div id="resultadosBusqueda" class="resultados-container"></div>
							</div>
						</div>
						<a class="petit-formal-script-regular" asp-action="Index" asp-controller="Tienda" style="font-size: 2.5rem; color: black; text-decoration: none;">Bougies</a>
						<div class="user-options">
							<a class="nav-link" asp-area="" asp-controller="Usuarios" asp-action="Registro">Registrarse</a>

							@if (user != null)
							{
								<span>Hola, @user</span>
								<a asp-controller="Usuarios" asp-action="Logout">Cerrar sesión</a>
							}
							else
							{
								<a asp-controller="Usuarios" asp-action="Login">Iniciar sesión</a>
								<span>@user</span>
							}
							@* <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="Index"> <i class="fa-regular fa-user"></i></a> *@
							<a class="nav-link" asp-area="" asp-controller="Carrito" asp-action="Index"><i class="fa-solid fa-cart-shopping"></i>(@cantidadProductos)</a>
						</div>
					</div>
				</div>
				<hr />
				<div class="header-user">
					<div class="navbar-two">
						<ul class="navbar-nav flex-grow-1">
							<li class="nav-item">
								<a class="nav-link" asp-area="" asp-controller="Tienda" asp-action="Productos">PRODUCTOS</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/Tienda/Index#header01-2">Sobre nosotros</a>
							</li>
							<li class="nav-item">
								<a style="color:red" class="nav-link" asp-area="" asp-controller="Tienda" asp-action="Ofertas">OFERTAS</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			@RenderBody()
		</main>
	</div>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
		function buscarProducto() {
			var query = document.getElementById("searchInput").value;
			var resultadosContainer = document.getElementById("resultadosBusqueda");

			if (query.length < 2) {
				resultadosContainer.style.display = "none";
				return;
			}

			fetch('/Tienda/BuscadorAjax?query=' + encodeURIComponent(query))
				.then(response => response.text())
				.then(data => {
					resultadosContainer.innerHTML = data;
					resultadosContainer.style.display = "block";
				})
				.catch(error => console.error('Error en la búsqueda:', error));
		}

		// Ocultar resultados si se hace clic fuera del input
		document.addEventListener("click", function (event) {
			var searchInput = document.getElementById("searchInput");
			var resultadosContainer = document.getElementById("resultadosBusqueda");

			if (!searchInput.contains(event.target) && !resultadosContainer.contains(event.target)) {
				resultadosContainer.style.display = "none";
			}
		});
	</script>

	<script src="https://kit.fontawesome.com/6f5f758826.js" crossorigin="anonymous"></script>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://r.mobirisesite.com/1225067/assets/web/assets/jquery/jquery.min.js?rnd=1740137554309"></script>
	<script src="https://r.mobirisesite.com/1225067/assets/bootstrap/js/bootstrap.bundle.min.js?rnd=1740137554309"></script>
	<script src="https://r.mobirisesite.com/1225067/assets/parallax/jarallax.js?rnd=1740137554309"></script>
	<script src="https://r.mobirisesite.com/1225067/assets/smoothscroll/smooth-scroll.js?rnd=1740137554309"></script>
	<script src="https://r.mobirisesite.com/1225067/assets/ytplayer/index.js?rnd=1740137554309"></script>
	<script src="https://r.mobirisesite.com/1225067/assets/dropdown/js/navbar-dropdown.js?rnd=1740137554309"></script>
	<script src="https://r.mobirisesite.com/1225067/assets/embla/embla.min.js?rnd=1740137554309"></script>
	<script src="https://r.mobirisesite.com/1225067/assets/embla/script.js?rnd=1740137554309"></script>
	<script src="https://r.mobirisesite.com/1225067/assets/mbr-switch-arrow/mbr-switch-arrow.js?rnd=1740137554309"></script>
	<script src="https://r.mobirisesite.com/1225067/assets/theme/js/script.js?rnd=1740137554309"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	@await RenderSectionAsync("Scripts", required: false)


</body>
</html>
